
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('게시판')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="starter-template.css" th:href="@{/starter-template.css}" rel="stylesheet">

    <title>게시판</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')">
    <!-- <a class="navbar-brand" href="#">Spring Boot Tutorial</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">홈 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">게시판</a>
            </li>
        </ul>
    </div> -->
</nav>

<div class="container">
    <br><br>
    <h2>인기 상품</h2>
    <br>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card h-80">
                <img src="https://cdn.pixabay.com/photo/2015/11/19/11/45/macbook-pro-1050973_1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">맥북 싸게 양도합니다.</h5>
                    <p class="card-text">맥북 프로 16인치 cto 고급형 판매합니다. 20년 6월에 받아서 너무너무 사용을 안하여 판매합...</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-80">
                <img src="https://cdn.pixabay.com/photo/2017/03/24/19/19/rolex-2171961_1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">롤렉스 할부 양도합니다.</h5>
                    <p class="card-text">풀 필름 작업 후 외출시 약 2회 짧은 시간 착용하고 모셔놨습니다. 필름 풀셋 1회 여유분 같이 드...</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-80">
                <img src="https://cdn.pixabay.com/photo/2020/09/02/03/26/iphone-5537230_1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">아이폰12 양도</h5>
                    <p class="card-text">단종 예정인 아이폰 12 미니 화이트 판매합니다 ! 할부로 구매해서 총 8개월 사용하고 남은 납부...</p>
                </div>
            </div>
        </div>
    </div>

    <br>
    <h2>게시판</h2>
    <div>총 건수 : <span th:text="${boards.totalElements}"></span></div>
    <form class="form-inline d-flex justify-content-end" method="GET" th:action="@{/board/list}">
        <div class="form-group mx-sm-3 mb-2">
            <label for="searchText" class="sr-only">검색</label>
            <input type="text" class="form-control" id="searchText" name="searchText"
                   th:value="${param.searchText}">
        </div>
        <button type="submit" class="btn btn-light mb-2">검색</button>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">
            <td th:text="${board.id}">Mark</td>
            <td><a th:text="${board.title}" th:href="@{/board/form(id=${board.id})}">Otto</a></td>

            <td th:text="${board.user.username}"></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${1 == boards.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" href="#"
                   th:href="@{/board/list(page=${boards.pageable.pageNumber - 1},searchText=${param.searchText})}"
                   tabindex="-1" aria-disabled="true">이전 페이지</a>
            </li>
            <li class="page-item" th:classappend="${i == boards.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" href="#" th:href="@{/board/list(page=${i - 1},searchText=${param.searchText})}" th:text="${i}">1</a>
            </li>
            <li class="page-item" th:classappend="${boards.totalPages == boards.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/board/list(page=${boards.pageable.pageNumber + 1},searchText=${param.searchText})}">다음페이지</a>
            </li>
        </ul>
    </nav>
    <div class="text-right">
        <a type="button" class="btn btn-primary" th:href="@{/board/insert}">글 작성</a>
    </div>
</div>

<footer th:replace="fragments/common :: footer"></footer>
</body>

</html>